<h1>{{title}}</h1>
<img src="/images/{{heroImg}}" alt="hero img">
<h2>FEATURES</h2>
<a href="/feature1">Tags</a>
<a href="/feature2">Stories</a>
<a href="/feature3">Profiles</a>
<a href="/feature4">The Map</a>
<a href="/feature5">Playlists</a>
