<h1>{{name}}</h1>
<h4>{{brief}}</h4>
<!-- optional image here -->

<img src="/images/{{featPic}}" alt="feature image">
<p>{{desc}}</p>

<a href="/feature1">Tags</a>
<a href="/feature2">Stories</a>
<a href="/feature3">Profiles</a>
<a href="/feature4">The Map</a>
<a href="/feature5">Playlists</a>